doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery.js');
    script(src='/javascripts/ga.js')
    meta(name="google-site-verification", content="A5sG3Wwu1nXVdm-sR9uW4tgrRVBazCE_bJNGDma0II4")
  body
    block content
